body {
    font-family: Helvetica;
    background: #333;
    color: #aaa;
}

div.form-element {
    height: 40px;
    margin: 40px auto 60px auto;
    position: relative;
}

input {
    width: calc(100% - 60px);
    margin: 20px;
    border: 1px solid #000;
    font-family: Helvetica;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: transparent;
    color: #eee;
    outline: none;
    background-color: rgba(255,255,255,0.05);
}

input:focus {
    border-color: aquamarine;
}

input[type="submit"] {
    background-color: rgba(255,255,255,0.35);
    width: calc(100% - 42px);
    border: none;
}

input[type="submit"]:hover {
    background-color: rgba(255,255,255,0.5);
}

input[type="submit"]:active {
    background-color: rgba(255,255,255,0.75);
}


label {
    font-size: 20px;
    font-family: Helvetica;
    color: #777;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    margin: 1px;
    transition: 400ms;
}

label.selected {
    color: #666;
    top: -36px;
    /*font-size: 14px;*/
}
/*
input:focus + p {
    color: #ddd;
    top: -36px;
    font-size: 14px;
}
*/

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 100px auto;
    background-color: aquamarine;
}
