$color-a: #f00;
$color-b: #ff0;
$color-c: #0f0;
$color-d: #0ff;
$color-e: #00f;
$color-f: #f0f;

$font-name: Helvetica;

$width: 100px;
$margin: 10px;
$cols: 3;


body {
    // Use a variable 
    font-family: $font-name;
}

.box {
    // use a few variables
    width: $width;
    height: $width;
    background-color: $color-a;
    margin: $margin;
    float: left;
}

// Do some tricky maths with variables 
.container {
    width: ($width + $margin * 2) * $cols;
    margin: auto;
}


// Loop through 9 to 0
$i: 9;
@while $i > 0 {
    // Make a rule that selects nth-child(i)
    // Must interpolate a variable in #{} to use in selector
  .box:nth-child(#{$i}) { 
      // Divide the color wheel into 9 parts
      background-color: hsl(360 / 9 * $i, 100%, 50%);
    }
  $i: $i - 1;
}






